<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sinashare"
    android:versionCode="1"
    android:versionName="1.0" >
    
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/ThemeActivity" >
        
        <meta-data android:value="515edb7856240b1ec403bd9a" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>
        <activity
            android:name="com.example.sinashare.MainActivity"
            android:label="@string/main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.sinashare.SinaSharePage"
            android:label="@string/title_activity_sina_share_page" >
        </activity>
        <activity
            android:name="com.example.sinashare.UmengHomePage"
            android:label="@string/title_activity_umeng_home_page" >
        </activity>
        <activity
            android:name="com.example.sinashare.SinaHomePage"
            android:label="@string/title_activity_sina_home_page" >
        </activity>
        <activity
            android:name="com.example.sinashare.UmengPage"
            android:label="@string/title_activity_umeng_page" >
        </activity>
        <activity
            android:name="com.example.sinashare.AccontSeting"
            android:label="@string/title_activity_accont_seting" >
        </activity>
    </application>
    
</manifest>